@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;1,600&display=swap');

.banner {
    background-image: url(https://source.unsplash.com/collection/190727/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
    text-align: center;
}

body {
  font-family: 'Merriweather', serif;
  color: black;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: teal;
}

h1 {
  font-size: 36px;
}

a {
  background-image: linear-gradient(to bottom,
                  rgb(1, 255, 90), rgba(233, 253, 240, 1));
  text-decoration: none;
  color: black;
}

a:hover {
  background-image: linear-gradient(to bottom,
                  rgb(114, 250, 161), rgba(233, 253, 240, 1));
  color: black;
  font-style: italic;
  text-decoration: none;
}

/* Responsiveness make sure to resize the container for all other screen sizes
(576px, 768px, 992px and 1200px). */

@media(max-width: 1920px) {
  .container {
    width: 1400px;
    margin: 50px auto;
  }
}

@media(max-width: 1200px) {
  .container {
    width: 800px;
    margin: 50px auto;
  }
}

@media(max-width: 992px) {
  .container {
    width: 600px;
    margin: 50px auto;
  }
}

@media(max-width: 768px) {
  .container {
    width: 400px;
    margin: 50px auto;
  }
}

@media(max-width: 576px) {
  .container {
    width: 350px;
    margin: 50px auto;
  }
}